body{
	    background-color: #4d79ff;
    }

form {
	background-color: #99b3ff;
	font-family: verdana;
	font-size: 11px;
}

p{
	color: #e6ecff;
	text-align: center;
}

div{
	border: 3px solid black;
	
	
}
